# SQLite3

In [1]:
import sqlite3

In [2]:
banco = 'exemplo_escola.db'

# Criando o banco e tabelas

In [3]:
script_sql= """CREATE TABLE IF NOT EXISTS alunos (
                id_aluno INTEGER PRIMARY KEY AUTOINCREMENT,
                nome TEXT NOT NULL,
                idade INTEGER NOT NULL,
                email TEXT NOT NULL
)"""

#Criar/conectar com banco de dados

try:
    with sqlite3.connect(banco) as conn:
        cur = conn.cursor() #Criar o cursor

        cur.execute(script_sql) #Executar o script sql

        conn.commit()#Salvar as alteraçõs

except sqlite3.OperationalError as e:
    print(f'Erro: {e}')

## Consultando a tabela

In [37]:
script_sql = "SELECT * FROM alunos"

try:
    with sqlite3.connect(banco) as conn:
        conn.row_factory = sqlite3.Row # Alterar o resultado da consulta para o dicionários
        cur = conn.cursor() #Criar o cursor

        cur.execute(script_sql) #Executar o script sql

        res = cur.fetchall()# Retorna as linhas da tabela como uma lista de dicionários


except sqlite3.OperationalError as e:
    print(f'Erro: {e}')
     
for i in res:
    print(i['nome'],i['idade'] )

Bruna 17
Bruna 18
Bia 14
Agnaldo 16

## Inserindo dados na tabela

In [ ]:
script_sql = """INSERT INTO alunos (nome, idade, email)
                VALUES(?,?,?)"""
#Criar/conectar com o banco de dados
try:
    with sqlite3.connect(banco) as conn:
        cur = conn.cursor() #Criar o cursor

        cur.execute(script_sql, ('Agnaldo', 16 ,'Bia@email.com')) #Executar o script sql

        conn.commit()


except sqlite3.OperationalError as e:
    print(f'Erro: {e}')

## Atualizando dados de colunas

In [ ]:
script_sql = """UPDATE ALUNOS 
                SET idade = ?
                WHERE id_aluno =?"""

#Criar/conectar com o banco de dados
try:
    with sqlite3.connect(banco) as conn:
        cur = conn.cursor() #Criar o cursor

        cur.execute(script_sql, (17, 1)) #Executar o script sql

        conn.commit()


except sqlite3.OperationalError as e:
    print(f'Erro: {e}')

## Deletando registros da tabela

In [ ]:
script_sql = "DELETE FROM alunos WHERE id_aluno = ?"

#Criar/conectar com o banco de dados
try:
    with sqlite3.connect(banco) as conn:
        cur = conn.cursor() #Criar o cursor

        cur.execute(script_sql, ( 4,)) #Executar o script sql

        conn.commit()


except sqlite3.OperationalError as e:
    print(f'Erro: {e}')